{% extends 'layout/base.html' %}
{% load static %}
{% block content %}
    <div class="grid grid-cols-12">
        <div class="col-span-4 col-start-5 p-4 bg-blue-200 rounded shadow mt-40" id="sell_form">
            <h1 class="text-2xl text-center font-medium text-gray-800">Выставить товар на продажу</h1>
            <p v-bind:class="color_message">${ message }}</p>
            <div class="grid">
                <input v-model="name" type="text" placeholder="Название" class="my-4 p-2 rounded focus:outline-none focus:ring focus:border-blue-300 shadow-lg">
                <textarea v-model="description" cols="30" rows="2" placeholder="Описание" class="mb-4 p-2 rounded focus:outline-none focus:ring focus:border-blue-300 shadow-lg"></textarea>
                <input v-model="price" type="number" placeholder="Цена" class="mb-4 p-2 rounded focus:outline-none focus:ring focus:border-blue-300 shadow-lg">
                <input id="image" type="file" class="mb-4 p-2 rounded focus:outline-none focus:ring focus:border-blue-300 shadow-lg bg-white">
                <button v-on:click="submit" class="py-2 bg-blue-400 rounded text-white hover:bg-blue-500 shadow">Добавить</button>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'js/sell.js' %}"></script>
{% endblock %}